.drugp{
    margin-left: 250px;
    margin-top: -100px;
    
}
.st,.dose,.quant,.phone{
      margin-left: 250px; 
}
.age{
margin-left: 120px;
}
.submit{
    margin-left: 100px;
}
.quanti,.cost,.u12,.o18,.preg{
    margin-left: 220px;
}
.quanti{
    margin-top: -190px;
}
.formid{
    margin-left: 70px;
    font-size: 22px;
    font-family: sans-serif;
}
.sabm{
    margin-top: 30px;
    margin-left: 100px;
}
.u12,.o18{
margin-left: 240px;    
}
#sammy{
    margin-left: 70px;
    width: 180px;
	height: 30px;
	border-radius: 10px;
}
#samj{
    margin-left: 70px;
    width: 180px;
	height: 30px;
    border-radius: 10px;
}
.update{
    margin-left: 200px;
}
.fetch{
	margin-left: 150px;
}
.upd{
	margin-left: 200px;
}
fieldset{
	border-radius: 20px;
}
#drugname,#druname{
	height: 30px;
	border-radius: 20px;
}

legend{
	font-family: sans-serif;
	font-size: 20px;
	color: #1c8adb;
}
.forme{
	margin-left: 100px;
}
.sel,.str,.dos,.quan{
	margin-left: 220px;
}
.sel{
	margin-top: -120px;
}
#drug_name{
	border-radius: 10px;
}
.input{
	margin-top: 10px;
	margin-left: 90px;
}
.phone,.email,.pass{
	margin-left: 240px;
}
.phone{
	margin-top: -155px;
}
.subm{
	margin-left: 120px;
}
.phoneu,.emailu,.userz,.passu{
	margin-left: 330px;
}

.phoneu{
	margin-top: -145px;
}
.submu{
	margin-left: 160px;
	margin-top:20px;
	
}
.userv{
	margin-left:240px;
}
.useru{
    margin-left: 330px;
}

.user{
    margin-left: 680px;
}









